.card-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr); /* Three columns */
	gap: 20px; /* Gap between cards */
	padding-inline: 4rem;
}

.card {
	padding: 20px;
	text-align: start;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
}
.allp > h2 {
	font-family: "Montserrat", sans-serif;
	font-size: 3rem;
}
.card > h2 {
	margin: 10px 0px;
	font-size: 1.5rem;
}
.imagedi {
	width: 100%;
	height: 300px;
}
.imagedi img {
	width: 100%;
	height: 100%;
}
.btsss {
	padding: 10px 20px;
	background-color: inherit;
	border-radius: 50px;
	color: #0a7d25;
	border: 1px solid #0a7d25;
	font-family: "Montserrat", sans-serif;
}
.btsss:hover {
	background-color: #0a7d25;
	color: white;
}
.btdiv {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
    .card-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr); /* Three columns */
		gap: 10px; /* Gap between cards */
		padding-inline: 3rem;
	}
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .card-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr); /* Three columns */
		gap: 10px; /* Gap between cards */
		padding-inline: 1rem;
	}   
}
@media screen and (min-width: 320px ) and (max-width: 700px) {
    .card-container {
		display: grid;
		grid-template-columns: repeat(1, 1fr); /* Three columns */
		gap: 10px; /* Gap between cards */
		padding-inline: 1rem;
	}
	.allp > h2 {
		font-size: 2rem;
	}
}